<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "de.gamemodeon.mixcross"
	version		= "0.0">
	<preference name="phonegap-version" value="3.7.0" />

	<name>Mischungskreuz</name>
	<description>
		Nach Angabe zweier vorhandener Konzentrationen und Angabe der gewünschten Konzentration wird das Mischungsverhältnis angegeben (% und ml)
	</description>
	<author href="https://gamemodeon.de/user/1-lub/" email="lub@gamemodeon.de">
		lub
	</author>
	
	<icon src="icon.png" />
	
	<preference name="permissions" value="none" />
	
	<preference name="EnableViewportScale" value="true" />
	
	<gap:platform name="android" />
</widget>
